@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueBlack.otf");
  src: url("../fonts/HelveticaNeueBold.otf");
  src: url("../fonts/HelveticaNeueHeavy.otf");
  src: url("../fonts/HelveticaNeueLight.otf");
  src: url("../fonts/HelveticaNeueMedium.otf");
  src: url("../fonts/HelveticaNeueRoman.otf");
  src: url("../fonts/HelveticaNeueThin.otf");
  src: url("../fonts/HelveticaNeueUltraLight.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  /* border: solid 1px rebeccapurple; */
}

:root {
  --yellow: #fff000;
  --pink: #e3007f;
  --blue: #009fe8;
  --white: #ffffff;
  --black: #333333;
  --gray-300: #707070;
  --gray-200: #cccccc;
  --gray-100: #dddddd;
  --info: #009fe8;
  --alert: #790707;
  --success: #008000;
}

body {
  background-color: var(--white);
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;

  width: 100%;
  min-height: calc(100vh - 100px);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 912px) {
  body {
    min-height: calc(100vh - 80px);
    margin-top: 80px;
  }
}

/* ---------- GLOBALS ------------ */

p {
  color: var(--black);
  font-size: 16px;
}

h1 {
  font-size: 46px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  color: var(--gray-300);
}

.btn {
  cursor: pointer;
  min-width: 120px;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 16px;
  text-align: center;
  border: none;
  box-shadow: 0 2px 2px 0 var(--gray-200);
}

.btn:hover {
  box-shadow: 0 4px 6px 0px var(--gray-200);
  transition: box-shadow cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}

.btn-white {
  background-color: var(--white);
  color: var(--black);
}

.btn-white:hover {
  color: var(--black);
}

.btn-pink {
  background-color: var(--pink);
  color: var(--white);
}

.btn-pink:hover {
  color: var(--white);
}

/* ---------- UTILITIES / HELPER CLASS ------------ */
.layout-row-between-center {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.layout-row-end-center {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

/* ---------- LAYOUT ------------ */
.container {
  width: 100%;
  max-width: 1440px;
  flex: 1;
  margin: 0 auto;
  padding: 120px 80px;
}

@media screen and (max-width: 912px) {
  .container {
    padding: 80px 35px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    padding: 30px 15px;
  }
}

/* ---------- HEADER COMPONENT---------- */
.header {
  background-color: var(--yellow);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  z-index: 10;

  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.branding {
  width: auto;
}

.branding .logo {
  font-size: 30px;
  font-weight: 800;
}

.nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav .navlinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav .navlinks li {
  padding: 10px 10px;
}

.mobile-menu-btn {
  display: none;
}

@media screen and (max-width: 912px) {
  .header {
    height: 80px;
  }
}

@media screen and (max-width: 640px) {
  .header {
    height: 80px;
  }

  .nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav.visible {
    background-color: rgba(0, 0, 0, 0.808);
    min-height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    /* opacity: 0.829; */

    display: flex;
    flex-direction: column;
  }

  .nav .navlinks {
    min-height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  .nav .navlinks li {
    border-bottom: solid 1px black;
    width: 100%;

    width: 100%;
    display: flex;
    justify-content: start;

    padding: 20px 15px;
  }

  .nav .navlinks li:nth-last-child(1) {
    border-bottom: none;
  }

  .nav .navlinks .cta {
    width: 100%;
    font-size: 18px;
  }

  .nav .navlinks a.link {
    color: var(--yellow);
    padding: 0;
    margin: 0;
    font-size: 18px;
  }

  .mobile-menu-btn {
    display: flex;
  }

  .burger-menu-btn {
    display: none;
  }

  .burger-menu-btn.visible {
    display: flex;
  }

  .close-menu-btn {
    display: none;
  }

  .close-menu-btn.visible {
    display: flex;
  }
}

/* ---------- HERO COMPONENT ------------ */
.hero {
  width: 100%;
  /* flex: 1; */
  min-height: 320px;

  background-image: url("../images/mypage/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: grid;
  place-items: center;
}

.hero .hero-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.hero .hero-title {
  font-size: 62px;
  color: var(--white);
}

@media screen and (max-width: 912px) {
  .hero .hero-container {
    flex: 1;
  }

  .hero .hero-title {
    font-size: 48px;
  }
}

@media screen and (max-width: 640px) {
  .hero {
    width: 100%;
    /* flex: 1; */
    min-height: 180px;
    background-position: center center;
    background-size: cover;
  }

  .hero .hero-title {
    font-size: 48px;
  }
}

/* ------- CAROUSEL COMPONENT --------- */
.carousel {
  width: 100%;
  height: 100%;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------- SERVICES COMPONENT ------------ */
.services {
  width: 100%;
}

.services .services-title {
  text-align: center;
  margin-bottom: 40px;
}

.services .cards {
  gap: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.services .card {
  width: 100%;
  flex-direction: column;
  gap: 25px;
  overflow: hidden;
}

.services .card img {
  border-radius: 4px;
  object-fit: contain;
  width: 100%;
}

@media screen and (max-width: 912px) {
  .services .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
  }
}

@media screen and (max-width: 540px) {
  .services .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ---------- ABOUT US COMPONENT ------------ */
.about-us {
  background-image: url("../images/aboutus/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  min-height: 100%;
  flex: 1;
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-us img {
  width: 100%;
  /* max-width: 1440px; */
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.about-us-container {
}

.about-us-title {
  text-align: center;
  margin-bottom: 40px;
}

.about-us-title,
.about-us-body {
  color: var(--white);
  text-align: center;
}

.about-us-body {
  margin: 0 auto;
  font-size: 20px;
  line-height: 2.5;
}

@media screen and (max-width: 912px) {
  .about-us {
    background-position: contain;
  }
}

@media screen and (max-width: 540px) {
  .about-us img {
    object-fit: cover;
  }
}

/* ---------- NEWS COMPONENT ------------ */
.news {
  min-height: 100%;
}

.news-title {
  text-align: center;
  margin-bottom: 40px;
}

.news .articles {
  display: flex;
  flex-direction: column;
  gap: 18px;
  row-gap: 32px;
  border-top: 1px solid var(--gray-300);
  border-bottom: 1px solid var(--gray-300);
  padding: 32px 0;
}

.news .article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 14px;
  column-gap: 0;
  padding: 10px 0;
  border-bottom: solid 1px var(--gray-300);
}

.news .article:nth-last-of-type() {
  border-bottom: solid 1px red;
}

.news .article .article-info {
  width: auto;
  margin-right: 20px;
}

.news .article-label {
  display: inline-block;

  width: 100px;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--white);
  text-align: center;
  margin-right: 20px;
}

.article-label:nth-of-child(even) {
  background-color: var(--blue);
}

.article-label:nth-of-child(odd) {
  background-color: var(--pink);
}

.news .article-info .article-date {
  display: inline-block;
}

.news .article-body {
}

/* ---------- CONTACTS COMPONENT ------------ */

/* ---------- FOOTER COMPONENT ------------ */
.footer-content.container {
  padding-bottom: 0;
  padding-top: 0;
}
.footer {
  width: 100%;
  height: 100px;
  background-color: var(--yellow);
  color: black;

  display: flex;
  align-items: center;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ---------- LOGIN PAGE ------------ */
.form-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.login .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  padding: 35px;
  box-shadow: 0 4px 3px 0px var(--gray-200);
  border: solid 1px var(--gray-100);
  border-radius: 4px;
}

.form-controller {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.form-controller label {
  font-weight: 600;
}

.form-input {
  padding: 12px 8px;
  border-radius: 4px;
  outline-color: var(--gray-200);
}

.error-msg {
  display: none;
  width: 100%;
  border: solid 1px red;
  border-radius: 4px;
  padding: 8px;
}

.error-msg.visible {
  display: flex;
}

.forgot-password {
  color: var(--info);
  cursor: pointer;
  font-size: 14px;
}

.login .privacy-policy {
  margin-top: 10px;
}

.login .privacy-policy .policy-link {
  color: var(--info);
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}

/* ---------- 404 NOT FOUND PAGE ------------ */
.not-found .not-found-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* ---------- DASHBOARD TOAST MESSAGE ------------ */
.toast {
}

.toast-container {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  gap: 15px;

  background-color: var(--white);
  padding: 35px;
  box-shadow: 0 4px 3px 0px var(--gray-200);
  border: solid 1px var(--gray-100);
  border-radius: 4px;
}

.toast-message {
  width: 100%;
  border-radius: 4px;
  padding: 10px 20px;
}

.toast-message.success {
  color: var(--success);
  background-color: rgba(3, 173, 94, 0.288);
  outline: 1px solid rgba(3, 173, 94, 0.582);
}

.toast-message.error {
  display: none;
  color: var(--alert);
  background-color: rgba(230, 107, 107, 0.329);
  outline: 1px solid rgba(230, 107, 107, 0.623);
}
